<html>
    <head>
        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>microblog</title>
        {% endif %}
    </head>
    <body>
        <div>
          <div>
            <h2>Приветствуем тебя в КатяГраме</h2>&nbsp;&nbsp;<br>
            <a href="{{ url_for('index') }}">Лента</a>&nbsp;&nbsp;
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Вход</a>&nbsp;&nbsp;
                <a href="{{ url_for('register') }}">Регистрация)</a>
            {% else %}
                <a href="{{ url_for('logout') }}">Выход</a>&nbsp;&nbsp;
                <a href="{{ url_for('user', username=current_user.username) }}">Твой профиль</a>
            {% endif %}

            </div>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
