{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}"></td>
            <td>
                <p>О пользователе:</p>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Был на сайте {{ user.last_seen }}</p>{% endif %}
            </td>
        </tr><tr>
        <td>
        <h3><center><span style="color:green">{{ user.username }}</span></center></h3>
        </td><td>
          {% if user == current_user %}
            <p><a href="{{ url_for('edit_profile') }}">Редактировать профиль</a></p>
          {% endif %}
          </td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
              {% include '_post.html' %}
    {% endfor %}
{% endblock %}
